@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');


:root {
    --white: #fff;
    --red: #E62229;
    --dark-grey: #2C2C2C;
    --dark-red: #950217;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--dark-grey);
    background-color: var(--white);
    font-family: "Fira Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.container {
    max-width: 1519px;
    margin: 0 auto;
}

section + section {
    margin-top: 150px;
}

li + ul {
    margin: 15px 0;
}

.btn-action-mobile {
    display: none !important;
}

html.preload-lock .launch-overlay {
    display: none !important;
}

/* HEADER */

.header {
    background-color: var(--dark-red);
    color: var(--white);
    -webkit-backdrop-filter: blur(12px); /* нужно для Safari */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-row {
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
}

.nav-desktop a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 4px 0;
    transition: 0.3s ease;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.25s ease;
}

.nav-desktop a:hover::after {
    width: 100%;
}

.nav-desktop ul {
    display: flex;
    gap: 100px;
    font-size: 20px;
}

.nav-desktop li {
    list-style-type: none;
}

.toggle {
    background-color: var(--white);
    color: var(--dark-grey);
    padding: 12px 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
    font-weight: 700;
}

.toggle:hover {
    transform: scale(0.9);
}

.nav-mobile, .toggle-mobile {
    display: none;
}


/* FIRST SCREEN */

.hero-wrapper {
    display: flex;
}

.hero-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    z-index: 0;
}

.first-screen {
    background-image: url('../img/hero-img.webp');
    background-color: var(--dark-red);
    background-size: cover;      
    background-repeat: no-repeat; 
    overflow-x: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin-top: 212px;
    color: var(--white);
    position: relative;
    z-index: 1;
}


.first-screen h1 {
    font-size: 140px;
    font-weight: 700;
}

.hero-content span {
    font-size: 40px;
    font-weight: 500;
}

.first-screen p {
    font-size: 40px;
    font-weight: 500;
    max-width: 410px;
}

.hero-content__tag {
    font-weight: 400 !important;
}

.first-screen p span {
    font-size: 60px;
}

.hero-buttons {
    padding: 70px 0 265px 0;
    display: flex;
    gap: 40px;
}

.btn-action, .btn-more {
    border-radius: 60px;
    font-size: 33px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
    padding: 20px 32px;
}

.btn-action:hover,
.btn-more:hover,
.participation-more:hover {
    transform: scale(0.9);
}

.btn-action {
    background-color: var(--white);
    color: var(--dark-red) !important;

}

.btn-more {
    border: 2px solid var(--white);
    color: var(--white) !important
}


/* participation & prizes */

.participation-cards {
    position: relative;
}

.participation-cards::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 2px;
    background: var(--red);
    transform: translate(-50%, -50%);
}

.participation-cards__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;   /* половина gap */
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url('../img/icons/red-arrow.svg') no-repeat center;
    background-size: contain;
    z-index: 2;
}

.participation-cards, .prizes-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    align-items: stretch; /* ключевое */
}

.participation h2, .prizes h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.participation h3, .prizes h3 {
    font-size: 31px;
    font-weight: 700;
    color: var(--dark-red);
}

.participation-cards__item p, .prizes-cards__item p {
    font-size: 24px;
    font-weight: 500;
    max-width: 400px;
    margin-top: 10px;
}

.participation-cards__item, .prizes-cards__item {
    position: relative; /* обязательно */
    width: 100%;
    border-radius: 30px;
    padding: 60px 50px;
    box-shadow: 0 4px 47.2px 17px rgba(0, 0, 0, 0.08);

    overflow: visible; /* чтобы подарок мог вылезать за рамку */
    text-align: center;
    z-index: 1;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* важно */
}

.participation-cards__item:nth-child(3) {
    padding: 55px 50px;
}

.prizes-cards__item img {
    height: 180px;
    object-fit: contain;
}

.participation-btn {
    display: flex;
    justify-content: center;
}

.participation-more {
    background-color: var(--red);
    padding: 25px 40px;
    border-radius: 60px;
    color: var(--white);
    font-size: 33px;
    font-weight: 700;
    margin-top: 75px;
    text-align: center;
    transition: 0.3s ease;
}

.prizes {
    position: relative;
}

.prizes-cards__item p {
    font-size: 24px;
    font-weight: 500;
    max-width: 280px;
}

/* WINNERS */

.winners h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-red);
}

.winners-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 35px 0 166px 0;
}

.winners-top span:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
}

.winners-top span:nth-child(2) {
    font-size: 32px;
    font-weight: 700;
}

.winners-row {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.winners-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.winner-person {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winner-item {
    position: relative;
    border-radius: 30px;
    padding: 30px 60px;
    box-shadow: 0 4px 47.2px 17px rgba(0, 0, 0, 0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.winner-item h3 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 86px;
}

.winner-item p {
    font-size: 18px;
}

.winner-prize {
    margin: 0 auto;
}

.winner-item span {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-red);
}

/* BANNER NEW */

.banner {
    background-image: url('../img/banner-app.webp'); 
    background-size: cover;      
    background-repeat: no-repeat; 
}

.mobile-span {
    display: none;
}

.banner-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.banner_middle {
    grid-column: 2;
    text-align: center;
}

.banner_top {
    grid-column: 1;
    justify-self: start;
}

.banner_bottom {
    grid-column: 3;
    justify-self: end;
}

.span-desktop {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

.qr-app {
    width: 200px;
}

.banner-stores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-stores img {
    width: 200px;
}

.banner_left-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 45px;
    padding-left: 20px;
}


/* FAQ */


.faq h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

/* COMPONENT: FAQ */
.faq-row {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.faq-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.faq-item.active-state .arrow {
  transform: rotate(180deg);
}
.arrow {
  flex-shrink: 0;
  align-self: flex-start;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  transition: transform 0.3s ease;
}
.faq-item {
    background: var(--white);
    border-radius: 18px;
    box-shadow: 0 4px 47.2px 4px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: box-shadow 0.2s;
    width: 100%;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 20px;
  color: var(--dark-grey);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background 0.15s;
}
button, .faq-question {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  color: var(--dark-grey);
  background: var(--white);
  transition: max-height 1s, padding 0.3s;
  line-height: 1.7;
}
.faq-answer p {
  font-size: 16px;
}

.faq-item.active-state .faq-answer {
  padding: 0 20px 20px 20px;
  max-height: max-content;
}


/* CONTACTS */

footer {
    padding: 120px 0;
}

.contacts h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.call-to-us {
    display: flex;
    justify-content: space-between;
}

.call-to-us__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.call-to-us__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.call-to-us p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.copyright span {
    font-size: 16px;
    font-weight: 700;
}

.social-media-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
}

.social-media {
    display: flex;
    gap: 30px;
}



/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh); /* уменьшаем высоту, чтобы header остался видим */

    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 80px;

    transform: translateY(-120%); /* прячем выше */
    transition: transform 0.3s ease;

    z-index: 999; /* ниже header */
}

.mobile-menu.active {
    transform: translateY(0);
}

/* чтобы меню выглядело ровно */
.nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    list-style: none;
}

.nav-mobile a {
    color: var(--dark-red);
    font-size: 26px;
    font-weight: 600;
}

/* =========================================
   POPUP OVERLAY (фон, блюр)
========================================= */
.popup-overlay {
    position: fixed;
    inset: 0;                    /* top: 0; left: 0; right: 0; bottom: 0 */
    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.85);
    -webkit-backdrop-filter: blur(18px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 5000;
}

.popup-overlay.active {
    opacity: 1;
    pointer-events: auto;
}


/* =========================================
   ОСНОВНОЕ ОКНО POPUP
========================================= */
.popup {
    max-width: 1100px;
    width: 90%;
    max-height: 90vh;

    background-color: var(--dark-grey);
    border: 1px solid #EC0004;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    overflow: hidden;            /* чтобы скролл был внутри */
    z-index: 6000;
}


/* =========================================
   ВНУТРЕННЯЯ ОБЛАСТЬ С КОНТЕНТОМ
   (именно здесь появляется скролл)
========================================= */
.popup-inner {
    padding: 40px 30px;
    overflow-y: auto;
    max-height: 95vh;  /* минус кнопка и верхние отступы */
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--white);
}

.popup-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.popup-subtitle {
    font-size: 22px;
    font-weight: 700;
}

.popup-inner li + li {
    margin-top: 10px;
}

/* Красивая полоса прокрутки */
.popup-inner::-webkit-scrollbar {
    width: 10px;
}

.popup-inner::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
}

.popup-inner::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 10px;
}

.popup-inner::-webkit-scrollbar-thumb:hover {
    background: #ff3333;
}

/* Firefox */
.popup-inner {
    scrollbar-width: thin;
    scrollbar-color: var(--red) #2a2a2a;
}


/* =========================================
   КНОПКА "Понятно"
========================================= */
.popup-close {
    border-radius: 60px;
    font-size: 24px;
    font-weight: 600;

    padding: 20px 40px;
    margin: 20px auto 30px; /* центрируем */

    background-color: var(--red);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
}

.popup-close:hover {
    transform: scale(0.9);
}

/*==========================================
    ТАБЛИЦА в POP-UP
==========================================*/

.table-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-shadow: none;  
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

th {
    background: #f0f0f0;
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background: #fafafa;
}

.points {
    white-space: nowrap;
    font-weight: 600;
}

.center {
    text-align: center;
}
